

<div class="container-fluid">
<div class="sidenav">
  <div class="navbar-nav" routerLinkActive="active">
    <a class="nav-item nav-link active" routerLink="/dashboard"><h5>dashbaord</h5> </a>
    <a class="nav-item nav-link" routerLink="/user"><h5>User</h5> </a>
    <a class="nav-item nav-link" routerLink="/post"><h5>Post</h5> </a>
    <a class="nav-item nav-link" routerLink="/comment"><h5>Comment</h5> </a>

  </div>
</div>

  <div class="container">
      <div class="row">
          <div class="offset-1 col-11">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>

</div>


